.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  mat-card {
    img {
      max-height: 200px;
      object-fit: cover;
    }
    .cart-state {
      margin: 0 0.35rem;
      font-weight: bold;
    }
  }
}

.added {
  background: #ff2549;
  color: white;
}
